body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out; /* Animáció hozzáadása */
}

h1 {
    color: #3498db;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

ul {
    list-style: none;
    padding: 0;
}

/* Lista elemek előtűnése és maradása animáció */
@keyframes fadeInAndStay {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Alap stílus a lista elemekhez */
li {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

/* Az előtűnést és maradást kezelő animáció hozzáadása */
.fade-in-and-stay {
    animation: fadeInAndStay 0.5s ease-in-out;
    opacity: 1; /* Biztosítja, hogy az animáció végén az elemek megmaradnak láthatóként */
}


.button-list-spacing {
    margin-top: 20px;
}

/* A checkboxok és az azokhoz tartozó címkék jobb elválasztása */
input[type="checkbox"] {
    margin-left: 8px; /* Kicsit jobb elválasztás a checkboxok között */
}

/* A gomb generálás közötti szünethez animáció hozzáadása */
.button-list-spacing {
    margin-top: 20px;
    animation: none; /* Az alapértelmezett animációt kikapcsoljuk */
}

/* A generálás gomb pulsáló animációja */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* A generálás gomb animációjának hozzáadása */
.button-generate-animation {
    animation: pulse 1s infinite alternate; /* 1 másodperces pulsáló animáció, folyamatosan ismétlődik */
}